nav>.box>.portofolio {
    font-family: sans-serif;
    font-weight: 600;
    color: #5C776C;
}

nav>.box>.portofolio>b>span {
    color: #F1901D;
}

.nav>li>a {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #5C776C;
}

.brader {
    cursor: pointer;
}