<div class="row background">
  <div class="col-md-6 baris1">
    <div class="halaman1"></div>
  </div>
  <div class="col-md-6 halaman2">
    <h1 class="title-home">
      Hi, We are <br />
      a Programmer <br />& Designer
    </h1>
    <div class="garis">
      <div class="dekor"></div>
    </div>
    <label class="mt-5 ms-4"
      >This is our portfolio <br />website, let's get to know <br />more about
      us, and stay <br />connected with us.</label
    >
    <div>
      <a class="ms-4" routerLinkActive="active" routerLink="/portofolio"
        >About us</a
      >
    </div>
  </div>
</div>
