<div class="row justify-content-center">
  <div class="card">
    <h2 class="card-title mt-3">Edit Portofolio</h2>
    <div class="card-body">
      <div class="card-isi">
        <div class="card-isi-sub">
          <label for="">Nama</label>
          <input type="text" [(ngModel)]="edit && edit.nama" />
        </div>
        <div class="card-isi-sub">
          <label for="">Keahlian</label>
          <input type="text" [(ngModel)]="edit && edit.keahlian" />
        </div>
        <div class="card-isi-sub">
          <label for="">Asal Sekolah</label>
          <input type="text" [(ngModel)]="edit && edit.pendidikan" />
        </div>
        <div class="card-isi-sub">
          <label for="">Diskripsi Diri</label>
          <textarea
            name=""
            id=""
            [(ngModel)]="edit && edit.deskripsi"
            cols="20"
            rows="5"
          ></textarea>
        </div>
      </div>
      <div class="card-isi">
        <div class="card-isi-sub">
          <label for="">No. Hp</label>
          <input type="text" [(ngModel)]="edit && edit.telp" />
        </div>
        <div class="card-isi-sub">
          <label for="">Telegram</label>
          <input type="text" [(ngModel)]="edit && edit.link" />
        </div>
        <div class="card-isi-sub">
          <label for="">Keahlian 1</label>
          <input type="text" [(ngModel)]="edit && edit.keahlian1" />
        </div>
        <div class="card-isi-sub">
          <label for="">Keahlian 2</label>
          <input type="text" [(ngModel)]="edit && edit.keahlian2" />
        </div>
        <div class="card-isi-sub">
          <label for="">Keahlian 3</label>
          <input type="text" [(ngModel)]="edit && edit.keahlian3" />
        </div>
      </div>
      <div class="card-isi">
        <div class="card-isi">
          <div class="card-isi-sub">
            <label for=" ">Pengalaman 1</label>
            <input type="text " [(ngModel)]="edit && edit.pengalaman" />
          </div>

          <div class="card-isi-sub">
            <label for=" ">Pengalaman 2</label>
            <input type="text " [(ngModel)]="edit && edit.pengalaman2" />
          </div>

          <div class="card-isi-sub">
            <label for=" ">Pengalaman 3</label>
            <input type="text " [(ngModel)]="edit && edit.pengalaman3" />
          </div>
          <div class="card-isi-sub">
            <label for="">Foto</label>
            <input type="file" (change)="onChange($event)" />
            <div *ngIf="myImage">
              <img [src]="myImage" alt="" />
            </div>
          </div>
        </div>
        <a class="btn mt-3" (click)="onSubmit()">Submit</a>
      </div>
    </div>
  </div>
</div>
