<div class="container">
  <div class="row alas" *ngIf="portofolio">
    <div class="col-sm-12 col-lg-5 halaman1 my-4 mx-auto">
      <h1 class="mt-5 ms-3 mb-0">
        <b>{{ portofolio.nama }}</b>
      </h1>
      <h4 class="ms-3">{{ portofolio.keahlian }}</h4>
      <img class="mt-3 mx-auto d-block" src="{{ portofolio.foto }}" alt="" />
      <h3 class="ms-3 mt-5"><b>PROFIL PRIBADI</b></h3>
      <label class="ms-3 mt-3">{{ portofolio.deskripsi }}</label>
    </div>

    <div class="col-sm-12 col-lg-7 halaman2 my-auto">
      <div class="row justify-content-start mb-4">
        <div class="col-sm-12 col-lg-4 alas">
          <div class="pendidikan">
            <h2><b>PENDIDIKAN</b></h2>
            <label>{{ portofolio.pendidikan }}</label>
          </div>
          <div class="pemisah"></div>
          <div class="keahlian mt-5">
            <h2><b>KEAHLIAN</b></h2>
            <label>1. {{ portofolio.keahlian1 }}</label>
            <label>2. {{ portofolio.keahlian2 }}</label>
            <br />
            <label>3. {{ portofolio.keahlian3 }}</label>
          </div>
          <div class="pengalaman mt-5 mb-3">
            <h2><b>PENGALAMAN</b></h2>
            <label class="mb-0"
              ><b>1.</b><b>{{ portofolio.pengalaman }}</b></label
            >
            <label class="mb-0"
              ><b>2. {{ portofolio.pengalaman2 }}</b></label
            >
            <label class="mb-0"
              ><b>3. {{ portofolio.pengalaman3 }}</b></label
            >
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 alas1">
          <div class="kontak">
            <h1><b>KONTAK</b></h1>
            <label>{{ portofolio.telp }}</label>
            <h4>
              <b>{{ portofolio.link }}</b>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
